/* ========== RESET ========== */

html {
    font-size: 10px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* ========== HEADER ========== */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.header-logo {
    max-width: 25%;
    width: 100%;
    height: auto;
}

/* ========== BODY ========== */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: hsl(0, 100%, 100%);
    color: hsl(0, 0%, 0%);
}

/* ========== CONTAINER ========== */

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    display: flex;
    justify-content: center;
}

/* ========== SEARCH CONTAINER ========== */

.search-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.search-char {
    display: flex;
    gap: 1rem;
    justify-content: start;
}

/* ========== INPUT ========== */

input {
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid black;
    padding: 1rem;
    max-width: 30vw;
}

/* ========== SECTIONS ========== */

.info {
    font-size: 2rem;
    width: 65%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

p {
    font-size: 2rem;
}

/* ========== CHAR DATA ========== */

.char-result {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 4rem;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
    min-height: 350px;
}

.char-result.visible {
    opacity: 1;
    transform: translateY(0);
}

.char-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.char-info h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.char-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

#charImg {
    max-height: 650px;
    width: auto;
    object-fit: contain;
}

/* ========== BUTTONS ========== */

#searchBtn {
    font-size: 2.25rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: #f85b20;
    cursor: pointer;
    display: block;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s;
}

#searchBtn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.link-button {
    margin: 0 auto;
    background-color: #d9d9d9;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    transition: box-shadow 0.2s;
}

.link-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}